/* clear all margin and padding and reset the font style */
*{
    font-family: "Sour Gummy", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* universal animation */
@keyframes animation1{
    from{
        opacity: 0;
        transform: translateX(-1000px);
    }to{
        opacity: 1;
        transform: translateX(0);
    }
}
.section{
    opacity: 0;
    animation: animation1 1s ease forwards;
}
.section:nth-child(2){
    animation-delay: .2s;
}
.section:nth-child(3){
    animation-delay: .4s;
}
footer.section{
    animation-delay: .6s;
}
/* universal animation end */

/* font icon color change start */
.icon-wuxinghaoping-quan{
    color: #FFD700;
}
/* scroll style start */
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-thumb {
    background-color: #FFD700;
    border-radius: 10px;
}
    /* scroll style end */
.icon-qian{
    font-size: 50px !important;
    color: #FFB300 ;
}
/* font color change end */


/* #region header-part of main page start */
body {
    /* make sure evry part connect to each other */
    display: flex;
    flex-direction: column; 
    margin: 0;
    overflow-x: hidden;
    background: linear-gradient(135deg, #F8FBFF 0%, #FDEEF4 100%);
}
.content a {
    /* more clear blue of <a> */
    color: #007acc;
}
/*#region header part start */
.head-title{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 2rem;
}
.head-title>h1{
    font-size: 5rem;
}
.head-title .h3{
    text-decoration: none;
}
.head-title .h3:hover{
    text-decoration: underline;
}
.content a {
    /* more clear blue of <a> */
    color: #007acc;
}
header .row{
    /* make usre the logo and header nav on the left and right */
    justify-content: space-evenly;
}
header{
    /* header backgorund color */
    background-color: rgba(255, 255, 255, 0.75);
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10000;
    box-shadow: 5px 5px 8px  rgba(0, 0, 0, 0.331);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter:blur(15px);
    padding: 0 1rem;
}
header img{ 
    /* change the size of logo */
    height: 100px;
    display: block;
}
header .top-right{
    /* header nav layout */
    display: flex;
    justify-content: right;
    align-items: center;
}
header ul{
    display: flex;
}
header li a{    
    /* gap between each element */
    margin-right: 10px;
}
.cart1{
    position: relative;
}
header li:last-child a{
    background-image: url(../img/cart.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    height: 40px;
    width: 5rem;
}
header li:nth-child(2) a{
    background-image: url(../img/home.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    height: 40px;
    width: 5rem;
}
header li:first-child a{
    background-image: url(../img/profile.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    height: 40px;
    width: 5rem;
}
#cart-num{
    height: 25px;
    width: 25px;
    background-image: url(../img/icon_dot.png);
    background-size: cover;
    position: absolute;
    top: -5px;
    right: 10px;
    text-align: center;
}
.nav-pills .nav-link.active {
    /* change the button color */
    background-color: #FFD700; 
    box-shadow: 2px 2px rgba(0, 0, 0, 0.1);
    color: black; 
}
.nav-pills .nav-link.active:hover{
    /* add the change when hover */
    box-shadow: 0 0 10px;
}
/* #endregion header part end */



/* #region search bar */
.search-div{
    /* search bar layout */
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-div form{
    width: 100%;
}
.search-div .search{
    width: 70%;
    box-shadow: 2px 2px 5px  rgba(0, 0, 0, 0.1);
}
.search-div .submit{
    width: 25%;
    background-color: #FFD700;
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    border: 0;
    transition: 0.2s ease-in-out;
}
.search-div .submit:hover{
    box-shadow: 0 0 10px;
}
/* #endregion search bar */


/* #region navigator */
nav{
    /* layout of main-nav */
    width: 100vw;
    background: rgba(255, 255, 255, 0.909); 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    align-items: center;
    border-bottom: 2px solid #000;
    border-top: 2px solid #000;
    position: relative;
    transition: all .3s;
    z-index: 1000;
}
nav .nav {
    /* for the top part layout in nav */
    height: 10vh;
    padding: 0;
    justify-content: center;
    align-items: center;
}
nav .nav a{
    width: 100%;
    text-align: center;
    border-right: 2px solid black;
    line-height: 4vh;
}
nav .nav:hover{
    /* when hover show the blue bottom line */
    border-bottom: 3px solid #007acc;
}
nav .nav:hover a{
    color: #007acc;
}
nav #click03{
    border: 0;
}
nav .nav a{
    text-decoration: none;
    color: black;
}
/* for pets nav */
.nav-pet:hover+.nav-product+.nav-card+.hidden-nav-pet, .hidden-nav-pet:hover{
    display: flex;
}
/* for product nav */
.nav-product:hover+.nav-card+.hidden-nav-pet+.hidden-nav-product, .hidden-nav-product:hover{
    display: flex;
}
/* for cards nav */
.nav-card:hover+.hidden-nav-pet+.hidden-nav-product+.hidden-nav-card, .hidden-nav-card:hover{
    display: flex;
}
nav .hidden-nav{
    width: 100vw;
    padding: 0;
    margin: 0;
    height: 500px;
    position: absolute;
    top: 10vh;
    left: 0;
    z-index: 10;
    display: none;  
}
nav .nav-item{
    border-right: 1px solid #999;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.747);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter:blur(5px);
    display: flex;
    flex-direction: column;
}
nav .nav-item>a, .nav-item>h2{
    margin: 5px 0;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
nav .nav-item>a:hover{
    text-decoration: underline;
}
nav .third img{
    margin-top: 10px;
}
/* #endregion navigator */


/* #region main body */
main{
    width: 100vw;
}
main .sequence{
    margin: 10px;
    justify-content: left;
}
main .sequence a{
    color: #000;
    text-decoration: none;
}
main .sequence a:hover{
    text-decoration: underline;
}
main .product-detail{
    width: 100%;
    height: auto;
    display: flex;
    padding: 1rem;
    border-bottom: 1px solid #999;
    margin-bottom: 10px;
}
.left{
    width: 45vw;
    height: auto;
    margin-right: 5vw;
}
/* #region slideshow */
.slideShow{
    height: 100%;
    width: 100%;
    z-index: 0;
    position: relative;
}
.slideShow ul{
    width: 100%;
    height: 100%;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9); /* 半透明的白色 */
    border-radius: 16px;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.1);
}
.slideShow li{
    position: absolute;
    list-style: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.slideShow li img{
   max-width: 700px;
   max-height: 500px;
    object-fit: cover;
    object-position: center;
}
.slideShow video{
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.slideShow li{
    opacity: 0;
}
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1000;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.nav-dots {
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.nav-dots a {
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}




main .right{
    height: auto;
    min-height: 600px;
    width: 50%;
    padding-top: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: flex-start;
}
main .review>span{
    color: red;
    margin: 0 10px;
}
main .name, main .price, main .quantity-select, .description{
    margin: 10px;
}
main .quantity-controls{
    margin: 10px 0;
    display: flex;
}
main .quantity-select{
    margin-top:30px ;
}
main #decrease,#increase{
    width:5rem;
    height: 3rem;
}
main #quantity{
    height: 3rem;
    width: 8rem;
    box-sizing: border-box;
    border: 1px solid #999;
    margin: 0 5px;
}
main #add{
    background-color: #ffcb05;
    width: 80%;
    height: 4rem;
    transition: 0.2s ease-in-out;
}
main #add:hover{
    box-shadow: 0 0 8px;
    background-color: orange;
}
main .Introduction{
    margin-bottom: 20px;
}

/*#region  description part */
main .more{
    width: 100%;
    padding: 20px;
}
.more .d1{
    align-items: center;
    border-bottom: 1px solid #999;
    padding-bottom: 20px;
    margin: 10px;
}
#btn-description,#btn-detail,#btn-delivery,#btn-comment{
    font-size: 18px;
    font-weight: bold;
    padding: 10px 15px;
    background: transparent;
    color: black;
    border: none;
    cursor: pointer;
}
#delivery li{
    list-style: none;
    margin: 10px;
}
.rating{
    padding-top: 40px;
}
.rating .first{
    border-bottom: 1px solid #999;
}
.big{
    align-items: baseline;
}
.big .reviews{
    display: flex;
}
.big i{
    font-size: 3rem;
}
.rating .big>.h1{
    font-size: 60px;
}
.comments{
    border-top: 1px solid #999;
    padding-top: 20px;
    align-items: center;
}
.comments .date{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.person{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.person .face{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    cursor: pointer;
}
.face1{
    background-image: url(../img/ash-face.png);
}
.face2{
    background-image: url(../img/dawn-face.jpg);
}
.face3{
    background-image: url(../img/Serena-face.jpg);
}
.face4{
    background-image: url(../img/Brock-face.jpg);
}
.face5{
    background-image: url(../img/unknown-face.jpeg);
}
.face:hover{
    transform: scale(1.2);
}
.Rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: baseline;
    padding: 10px 0;
  }
  
  .Rating input {
    display: none;
  }
  
  .Rating label {
    font-size: 2rem;
    color: #ccc;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  .Rating i{
    color: #999;
  }
  
  .Rating input:checked ~ label i,
  .Rating label:hover i,
  .Rating label:hover ~ label i {
    color: #FFD700; /* 金色 */
  }
/* progress reviews */
.overall li{
    align-items: center;
    justify-content: space-evenly;
}
.overall .progress{
    padding: 0;
}
.progress-bar{
    background-color: #ffcb05;
    color: black;
}
.write-comment{
    display: flex;
    align-items: end;
}
#new-comment{
    height: 20vh;
}
#user-name,#comment-title{
    margin-bottom: 1rem;
}
#submit-comment{
    background-color: #ffcb05;
    height: 3rem;
    width: 5rem;
    border-radius: 10px;
}
#submit-comment:hover{
    transform: scale(1.1);
    box-shadow: 2px 2px 8px;
}
/* #endregion description part end */

/* #region recommendation */
.recommendation>h2{
    border-bottom: 1px solid #999;
    margin: 20px 0;
}
.recommendation .icon-qian{
    font-size: 2rem !important;
}
.product{
    height: 25vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.product>img{
    height: 60%;
    margin: 10px 0;
    object-fit: contain;
}
.product:hover{
    box-shadow: 0 0 8px;
    border: 1px solid #ccc;
}
/* #endregion recommendation */


/* #region footer section start */
footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    background: linear-gradient(to top, #FFFFFF, #FAFAFA);
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}
footer .first{
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid #999;
    padding: 1rem;
    margin-bottom: 1rem;
}
footer ul{
    list-style: none;
}
footer li{
    padding: .5rem;
}
footer a{
    text-decoration: none;
    color: #666;
}
footer a:hover{
    color: #000;
    text-decoration: underline;
}
footer img{
    height: 3rem;
    cursor: pointer;
}
footer .second{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer .follow{
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer .icon-list{
    display: flex;
    justify-content: center;
}
footer .icons{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color: #ffc0cb21;
    margin-right: 10px;
    cursor: pointer;
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.2s linear;
    margin-bottom: 10px;
}
footer .icons:hover{
    box-shadow: 0 0 8px;
    transform: scale(1.1);
}
footer .icons:nth-child(1){
    background-image: url(../img/facebook.svg);
}
footer .icons:nth-child(2){
    background-image: url(../img/instagram.svg);
}
footer .icons:nth-child(3){
    background-image: url(../img/微信.svg);
}
footer .second p{
    font-size: 1rem;
}
footer .copyright{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* #endregion footer section end */




#mobile-menu{
    display: none;
}

/* for mobile device */
@media (max-width:768px){
    *{
        margin: 0;
        padding: 0;
    }
   /*#region header start */
      .head-title,.product-page {
       width: 100vw;
    }
    head-title h1{
       font-size: 3rem;
    }
    header{
        justify-content: center;
        height: auto;
        background: rgba(255, 255, 255, 0.8); 
        backdrop-filter: blur(10px); 
        -webkit-backdrop-filter:blur(10px);          
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    header .row{
        width: 100%;
        margin: 0;
        justify-content: space-between;
        padding-left: 2rem;
        height: 5.5rem;
        align-items: center;
    }
    header .top-left{
        width: 30%;
        padding: 0;
        text-align: center;
    }
    header .top-left img{
        width: 5rem;
    }
    header .top-right{
    text-align: center;
    width: 50%;
    margin-top: 10px;
    }
    header .nav-pills{
    flex-wrap: nowrap;
    }
    header .nav-item{
    width: 4.5rem;
    margin: 5px;
    }
    header .search-div{
    display: none ;
    }
    /* #endregion header end */


   .main-nav{
    display: none;
   }
   footer p{
    font-size: 12px;
   }

   /* mian-body */
   main{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
   }
   .left{
    height: 50vh;
    }
   main .product-detail{
    display: flex;
    flex-direction: column;
   }
   .slideShow  li>img{
    max-height: 200px;
    border-radius: 10px;
    max-width: 250px;
   }
   video{
    height: 200px;
   }
   main .items span{
    font-size: 12px;
   }
   main .right{
    display: flex;
    flex-direction: column;
    height: auto;
   }
   .add{
    width: 80vw;
   }
   main .left,main .right{
    width: 100%;
   }
   .d1{
    display: flex;
    align-items: center;
   }
   .big{
    width: 100%;
    justify-content: space-between;
   }
   .rating .big>h1{
    font-size: 40px;
   }
   .overall{
    display: none;
   }
   .write-comment{
    flex-direction: column;
    justify-content: center;
   }
   #new-comment,#user-name,#comment-title{
    width: 100%;
   }
   #submit-comment{
    font-size: 12px;
    width: 100%;
    margin-top: 10px;
   }

   .product{
    width: 50%;
    height: 300px;
   }
   /*hide PC silde bar */
   #slidebar {
        display: none; 
    }

    /* #region mobile nav start */
    @keyframes animate{
        from{
            transform: translateX(-1000px);
        }to{
            transform: translateX(0px);
        }
    }
    #mobile-menu {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
    }

    #menu-btn {
        font-size: 18px;
        font-weight: bold;
        padding: 10px 15px;
        background: transparent;
        color: black;
        border: none;
        cursor: pointer;
        width: 100%;
        text-align: left;
    }
    #menu-content {
        display: none; 
        width: 75%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(255, 255, 255, 0.6);
        padding: 10px 15px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(15px);
        -webkit-backdrop-filter:blur(15px);
    }
    #close{
        position: absolute;
        top: 1rem;
        left: 1rem;
        height: 20px;
    }
    #menu-content .search-bar{
        margin-bottom: 1rem;
    }
    #menu-content .search-bar input{
        border-radius: 10px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.107);
        border: 1px solid black;
    }
    #menu-content .search-bar input::placeholder{
        padding: 1rem;
        letter-spacing: 1px;
    }
    #menu-content .search-bar button{
        width: 4rem;
        background-color: #FFD700;
        border-radius: 20px;
        box-shadow: 0 4px 6px rgba(0,0,0,0.1);
        transition: all 0.3s ease;
    }
    #menu-content .search-bar button:hover{
        background-color: #ffaa00;
        transform: scale(1.05);
    }
    .menu-category h3 {
        margin-bottom: 15px;
      }
    #menu-content .profile{
        height: 40px;
        width: 100%;
        margin:10px auto;
        padding-bottom: 20px;
        text-align: center;
    }
    #menu-content .profile img{
        height: 30px;
    }
    #menu-btn:hover #menu-content{
        display: block;
    }
    #menu-content .nav-pet{
        border-top: 1px solid #999;
    }
    .menu-category {
        margin: 0 auto;
        align-items: center;
        padding: 20px 0;
        text-align: left;
        border-bottom: 1px solid #999 ;
    }

    .menu-category ul, .menu-category li{
        margin-top: 10px;
    }
    .menu-category li{
        padding: 5px 0;
        border-bottom: 1px solid #999;
    }
    .menu-category span,.menu-category li a {
        color: #333;
    }

    .menu-category a {
        color: #007bff;
        text-decoration: none;
        margin-right: 10px;
        display: inline-block;
    }

    .menu-category a:hover {
        text-decoration: underline;
    }

    /* Transition Animation */
    #menu-content {
        transition: max-height 0.3s ease-in-out;
        overflow: hidden;
    }

     /* #region footer start */
     footer{
        padding: 1rem;
    }
    footer .first{
        display: grid;
        grid-template-columns: 2fr;
        text-align: center;
    }
    footer ul{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    footer .second span{
        display: none;
    }
    /* #endregion footer end */
}
@media (max-width:500px){
    .nav-item:first-child{
        display: none;
    }
}
/* for ipad air */
@media (min-width: 800px) and (max-width: 840px) 
and (min-height: 1160px) and (max-height: 1200px) {
 .slideShow li img{
     max-width: 300px;
  }
  .overall,.big span:nth-child(2){
    display: none;
  }
}
/* for ipad mini */
@media (width:768px) and (height:1024px){
    .slideShow li img{
        max-height: 400px;
        max-width: 500px;
    }
    video{
        width: 100%;
        height: 80%;
    }
}
