@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1738684761761') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-apple:before {
  content: "\e61e";
}

.icon-wechat:before {
  content: "\e891";
}

.icon-facebookfacebook52:before {
  content: "\e60b";
}

.icon-yanjing_yincang:before {
  content: "\eb45";
}

.icon-yanjing_xianshi:before {
  content: "\eb46";
}

.icon-logo-google:before {
  content: "\e795";
}

