html{
    overflow-x: hidden;
}
*{
    font-family: Luckiest Guy;
}
a {
    color: #8bd5ffee;
}
/* #region heading part start */
header{

    display: flex;
    justify-content: space-between;
    height: 100px;
}
.top-left{
    height: 100%;
    display: flex;
    align-items: center;
    
}
.top-left h2{
    margin: 0;
    font-size: 2rem;
    color: #FFDE00;
    font-weight: bold;
}
.top-right ul{
    text-align: right;
    height: 100%;
    line-height: 100px;
}
.top-right ul a:hover{
    color: red;
    text-decoration: underline;
}
.login-nav a{
    text-decoration: none;
    color: #FFDE00;
    padding: 0 20px;
    border-right: 3px solid #FFDE00;
}
.login-nav:last-child>a{
    border-right: 0;
}


/* #endregion heading part */

/* #region main-body start */

/* for PC background */
body{
    background-image: url(../img/pikachu-in-the-rain-pokemon-thumb.jpg) ;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
    filter: saturate(70%);
    aspect-ratio: 16 / 9;
    width: 100%;
}
body::after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.298);
    z-index: -1;
}
main .login .h2{
    font-size: 2rem;
    letter-spacing: 3px;
}
main .logo img{
    height: 8rem;  
    animation: reloadA 1.2s ease-out forwards;
    opacity: 0; 
}
.main-content{
    width: 60%;
    background-color: rgba(248, 248, 248, 0.093);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.275);
    backdrop-filter: blur(100%);
    box-shadow: 0 10px 25px rgba(10, 10, 10, 0.2);
    overflow: hidden;
}
.main-content .login{
    padding: 10px 50px;
    padding-bottom: 10px;
}
.main-content .login .login-text{
    color: white; 
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);

    animation: reloadA 1.2s ease-out forwards;
    opacity: 0;
}

.main-content .login .forgortten{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: center;
    padding: 0 20px;
    margin: 10px 0;
    font-size: 1rem;
    color: #fff;

    animation:  reloadA 1.8s ease-out forwards;
    opacity: 0;
    animation-delay: 0.8s;
}
.main-content .login .forgortten a{
    text-decoration: none;
    color: #ffffff;       
}
#email,#pdw{
    border-radius: 50px;
    border-color: #ffffff;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
}
#email{
    animation:  reloadA 1.4s ease-out forwards;
    opacity: 0;
    animation-delay: 0.4s;
}
.pdw{
    animation:  reloadA 1.6s ease-out forwards;
    opacity: 0;
    animation-delay: 0.6s;
}

#email::placeholder,#pdw::placeholder{
    color: rgb(255, 255, 255);
}
/* hover effect for forgot  */
.main-content .login .forgortten a:hover{
    text-decoration: underline;
    color: red;
}
.main-content .logging{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}
.main-content .logging button{
    width: 100%;
    background-color: white;
    animation:  reloadA 2s ease-in-out forwards;
    transform: translateX(-70vw);
    opacity: 0;
    animation-delay: 1s;
}
/* hover effect for login submit */
.main-content .logging:hover{
    box-shadow: 0 0 5px;
    transform: translate(1.1px);
}

.main-content .login .checking {
    font-size: 12px;
    display: flex;
    text-align: center;
    width: 100%;
    letter-spacing: 1px;
}
.checking>label,.checking>input{
    animation:  reloadA 2s ease-out forwards;
    opacity: 0;
    animation-delay: 1.2s;
}
.checking span{
    color: white;
    letter-spacing: 1px;
}
.main-content .login .checking  a{
    font-weight: bold;
    color: white;
}
.main-content .login .checking a:hover{
    text-shadow: 0 0 10px;
}
.regist{
    text-align: center;
    margin-top: 30px;
    color: white;
    animation:  reloadA 2s ease-out forwards;
    opacity: 0;
    animation-delay: 1.4s;
}
.login .pdw{
    position: relative;
    font-family: Arial, Helvetica, sans-serif
}
.pdw #btn04{
    position: absolute;
    bottom: 25%;
    right: 3vw;
    transform: translateY(35%);
    height: 2rem;
    cursor: pointer;
}

.main-content .other-way .exist-account{
    text-align: center;
    padding-top: 10px;
    margin-bottom: 10px;
    color: #ffffff;
    letter-spacing: 1px;
}
.other-way{
    animation:  reloadA 2.2s ease-out forwards;
    opacity: 0;
    animation-delay: 1.5s;
}
.main-content .other-way .ways>div{
    height: 55px;
    border-radius: 50%;
    width: 55px;
    background-color: rgba(255, 255, 255, 0.169);
    background-image: url(../img/google.svg);
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 10px;
    cursor: pointer;
    transition: 0.1s linear;
    margin-bottom: 40px;
}
.main-content .other-way .ways>div:nth-child(2){
    background-image: url(../img/facebook.svg);
}
.main-content .other-way .ways>div:nth-child(3){
    background-image: url(../img/apple.svg);
}
.main-content .other-way .ways>div:nth-child(4){
    background-image: url(../img/wechat.svg);
}
.main-content .other-way .ways{
    display: flex;
    justify-content: center;
}
.main-content .other-way .ways>div:hover{
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.692);
    transform: scale(1.1);
}
footer{
    height: 100px;
    width: 100%;
}

/* #endregion main-body */


/* #region instructions */
.instructions{
    display: none;
    z-index: 1000;
    width: 80%;
    height: 60%;
    border-radius: 5px;
    overflow: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    margin: 30px auto;
    max-width: 800px;
    border-radius: 15px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
    scrollbar-width: thin;
}
.instructions h2, .reading-instructions h3 {
    text-align: center;
    font-weight: bold;
    color: #333;
}

.instructions h2 {
    font-size: 28px;
    margin-bottom: 20px;
    border-bottom: 2px solid #f7c6c7; /* 添加下划线 */
    padding-bottom: 10px;
}

.instructions h3 {
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #333;
}

.instructions ol, .reading-instructions ul {
    padding-left: 40px;
    line-height: 1.6;
}

.instructions li {
    margin-bottom: 10px;
}

.instructions p {
    margin-bottom: 15px;
    line-height: 1.8;
    color: #444;
    font-size: 16px;
}

#btn03 {
    display: block;
    margin: 20px auto 0;
    padding: 10px 20px;
    background-color: #ffc107; 
    color: #fff;
    border: none;
    border-radius: 25px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: all 0.3s ease;
}

#btn03:hover {
    background-color: #e0a800; 
    transform: scale(1.02); 
}
.instructions h2, .instructions p, .instructions li, .instructions h3{
    font-family: Arial, Helvetica, sans-serif
}
/* #endregion instructions */

/*#region animation */
@keyframes reloadA{
    from{
        transform: translateY(70vh);
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}
/* for safari */
@-webkit-keyframes reloadA{
    from{
        transform: translateY(70vh);
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}
/* #endregion animation */


/* #region for mobile device */
@media (max-width:768px) {
    *{
        margin: 0;
        padding: 0;
    }
    header {
        flex-wrap: wrap; 
        height: auto; 
    }

    .top-left {
        width: 100%; 
        justify-content: center; 
        margin-top: 10px;
    }

    .top-right {
        width: 100%; 
        justify-content: center; 
        margin-top: 10px; 
    }

    .login-nav a {
        font-size: 0.9rem; 
        text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8)
    }
    header .top-left h2, header .top-right h3{
        color: #FFDE00;
        font-weight: bold;
    }
    .main-content{
        width: 100%;
    }
    .forgortten>a,.forgortten label{
        font-size: 13px;
    }
    .exist-account span{
        color: white;
    }
    .forgortten,.regardness label{
        font-size: 10px;
    }
    .regardness a:hover{
        color: red;
    }
    .checking{
        text-align: center;
    }
    .checking>label>span{
        display: none;
    }
}
