*{
    font-family:  Luckiest Guy;
    margin: 0;
    padding: 0;
}
/* #region header-part of main page start */
body {
    display: flex;
    flex-direction: column; /* 让子元素按列排列 */
    margin: 0;
    overflow-x: hidden;
}
.content a {
    color: #007acc;
}
header .row{
    justify-content: space-evenly;
}
header{
    background-color: #ffc0cb;
}
header img{ 
    height: 100px;
    display: block;
}
header .top-right{
    display: flex;
    justify-content: right;
    align-items: center;
}
header ul{
    display: flex;
}
header li a{    
    margin-right: 10px;
}
.nav-pills .nav-link.active {
    background-color: #ffcb05; 
    color: black; 
}
.nav-pills .nav-link.active:hover{
    box-shadow: 0 0 10px;
}
/* #endregion header part end */

/* #region search bar */
.search-div{
    margin-top: 10px;
    background-image: url(../img/);
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-div form{
    width: 100%;
}
.search-div .search{
    width: 85%;
}
.search-div .submit{
    width: 10%;
    background-image: url(../img/search.png);
    background-color: #ffdfe5;
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    border: 0;
    transition: 0.2s ease-in-out;
}
.search-div .submit:hover{
    box-shadow: 0 0 10px;
    background-size: 80%;
}
/* #endregion search bar */


/* #region navigator */
nav{
    width: 100vw;
    background-color: #ffc0cb;
    align-items: center;
    border-bottom: 2px solid #000;
    border-top: 2px solid #000;
    position: relative;
}
nav .nav {
    height: 10vh;
    padding: 0;
    justify-content: center;
    align-items: center;
}
nav .nav a{
    width: 100%;
    text-align: center;
    border-right: 2px solid black;
    line-height: 4vh;
}
nav .nav:hover{
    border-bottom: 3px solid #007acc;
}
nav .nav:hover a{
    color: #007acc;
}
nav #click03{
    border: 0;
}
nav .nav a{
    text-decoration: none;
    color: black;
}
/* for pets nav */
.nav-pet:hover+.nav-product+.nav-card+.hidden-nav-pet, .hidden-nav-pet:hover{
    display: flex;
}
/* for product nav */
.nav-product:hover+.nav-card+.hidden-nav-pet+.hidden-nav-product, .hidden-nav-product:hover{
    display: flex;
}
/* for cards nav */
.nav-card:hover+.hidden-nav-pet+.hidden-nav-product+.hidden-nav-card, .hidden-nav-card:hover{
    display: flex;
}
nav .hidden-nav{
    width: 100vw;
    padding: 0;
    margin: 0;
    height: 500px;
    position: absolute;
    top: 10vh;
    left: 0;
    z-index: 10000;
    display: none;   
}
nav .nav-item{
    border-right: 1px solid #FFC0CB;
    background-color: #fff5e6;
    display: flex;
    flex-direction: column;
}
nav .nav-item>a, .nav-item>h2{
    margin: 5px 0;
    text-decoration: none;
    color: #333;
}
nav .nav-item>a:hover{
    text-decoration: underline;
}
nav .third img{
    margin-top: 10px;
}
/* #endregion navigator */



/* #region slideshow */
.slideShow{
    height: calc(100vw * 9 / 16);
    width: 100%;
    z-index: 0;
    position: relative;
}
.slideShow ul{
    list-style: none;
}
.slideShow .imgList img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    /* background-color: #baf; */
    z-index: 0;
    transition: opacity 0.5s ease-in-out;
}
#nav-img{
    position: absolute;
    bottom: 10px;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}
#nav-img a{
    height: 10px;
    width: 100px;
    background-color: #FFC0CB;
    margin-right: 5px;
}
/* #endregion slideshow */




/* #region body part start */
main{
    margin-top: 10px;
}
.block{
    width: 100%;
    margin-bottom: 10px ;
}
.block .label{
    background-color: #FFC0CB;
    height: 50px;
    margin-bottom: 10px;
    width: 100%;
}
.block .items{
    height: 100%;
}
.block .mian-pic{
    height: 87%;
    background-color: #fff5e6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: 0.2s ease-in-out;
}
.block .product-img{
    position: relative;
    margin-top: 10px;
}
.block .mian-pic:hover{
    transform: scale(1.05);
    box-shadow: 0 0 5px;
    cursor: pointer;
}
.block .mian-pic img{
    object-fit: cover;
    width: 100%;
    padding: 0 10px;
    border-radius: 10px;
}
.block .product-price{
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.block .add{
    border-radius: 10px;
    margin-bottom: 10px;
}
.block #add-cart{
    background-color: #ffcb05;
}
.block #add-cart:hover{
    box-shadow: 0 0 5px;
}
/* #endregion body end */


/* #region footer part start */
footer{
    width: 100%;
    height: 300px;
    background-color: #ffc0cb81;
    overflow: hidden;
}
footer .nav{
    justify-content: center;
}
footer p:first-child{
    margin-top: 20px;
}
footer .nav a{
    margin-right: 10px;
    text-decoration: none;
}
footer .icon-list{
    display: flex;
    justify-content: center;
}
footer .icons{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #ffc0cb81;
    margin-right: 10px;
    cursor: pointer;
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.2s linear;
    margin-bottom: 10px;
}
footer .icons:hover{
    box-shadow: 0 0 10px;
}
footer .icons:nth-child(1){
    background-image: url(../img/facebook.svg);
}
footer .icons:nth-child(2){
    background-image: url(../img/instagram.svg);
}
footer .icons:nth-child(3){
    background-image: url(../img/微信.svg);
}
/* #endregion footer end */

#mobile-menu{
    display: none;
}

/* for mobile device */
@media (max-width:768px){
    *{
        margin: 0;
        padding: 0;
    }
    header{
        justify-content: center;
        height: 210px;
    }
    header img{
        margin: 0 auto;
    }
    header .row{
        width: 100%;
        margin: 0;
    }
    header .top-left{
        width: 100%;
        padding: 0;
        text-align: center;
    }
   header .top-right{
    text-align: center;
    width: 100%;
    justify-content: center;
    margin-top: 10px;
   }
   footer p{
    font-size: 12px;
   }

   /* mian-body */
   main .items span{
    font-size: 12px;
   }
   /*hide PC silde bar */
   #slidebar {
        display: none; 
    }

    /* mobile slide bar */

    #mobile-menu {
        display: block;
        width: 100%;
        background-color: transparent;
        position: fixed;
        top: 0;
        left: 0;
    }

    #menu-btn {
        font-size: 18px;
        font-weight: bold;
        padding: 10px 15px;
        background: transparent;
        color: black;
        border: none;
        cursor: pointer;
        width: 100%;
        text-align: left;
    }
    #menu-content {
        display: none; 
        background-color: #ffe4e1;
        padding: 10px 15px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }
    #menu-btn:hover #menu-content{
        display: block;
    }
    .menu-category {
        margin: 10px 0;
    }

    .menu-category span {
        font-weight: bold;
        color: #333;
        display: block;
        margin-bottom: 5px;
    }

    .menu-category a {
        color: #007bff;
        text-decoration: none;
        margin-right: 10px;
        display: inline-block;
    }

    .menu-category a:hover {
        text-decoration: underline;
    }

    /* 过渡动画 */
    #menu-content {
        transition: max-height 0.3s ease-in-out; /* 添加展开动画 */
        overflow: hidden;
    }

}