*{
    padding: 0;
    margin: 0;
    font-family: Luckiest Guy ;
}
h4{
    font-weight: bold;
}
body {
    display: flex;
    flex-direction: column;
}
.content a {
    color: #007acc;
}
header .row{
    justify-content: space-evenly;
}
header{
    background-color: #ffc0cb;
    position: sticky;
    top:0;
    z-index: 1000;
}
header img{ 
    height: 100px;
    display: block;
}
header .top-right{
    display: flex;
    justify-content: right;
    align-items: center;
}
header ul{
    display: flex;
}
header li a{    
    margin-right: 10px;
}
.cart1{
    position: relative;
}
header li:last-child a{
    background-image: url(../img/cart.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    height: 40px;
    width: 5rem;
}
header li:nth-child(2) a{
    background-image: url(../img/home.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    height: 40px;
    width: 5rem;
}
header li:first-child a{
    background-image: url(../img/profile.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    height: 40px;
    width: 5rem;
}
#cart-num{
    height: 25px;
    width: 25px;
    background-image: url(../img/icon_dot.png);
    background-size: cover;
    position: absolute;
    top: -5px;
    right: 10px;
    text-align: center;
}
.nav-pills .nav-link.active {
    background-color: #ffcb05; 
    color: black; 
}
.nav-pills .nav-link.active:hover{
    box-shadow: 0 0 10px;
}
/* #endregion header part end */

/* #region search bar */
.search-div{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-div form{
    width: 100%;
}
.search-div .search{
    width: 85%;
}
.search-div .submit{
    width: 10%;
    background-image: url(../img/search.png);
    background-color: #ffc0cb;
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    border: 0;
    transition: 0.2s ease-in-out;
}
.search-div .submit:hover{
    box-shadow: 0 0 10px;
    background-size: 80%;
}
/* #endregion search bar */


/* #region bodypart start */
main{
    display: flex;
    width: 100vw;
    margin-top: 10px;
    gap: 10px;
}
.left-part,.right-part{
    border: 1px #ccc solid;
    margin-right: 10px;
    border-radius: 10px;
}
.left-part .form-horizontal{
    margin-top: 10px;
}
.left-part .form-group{
    margin-top: 15px;
}
.left-part .bottom{
    margin-bottom: 10px;
}
.left-part #extra{
    height: 300px;
}
.right-part .top{
    height: 50%;
    width: 100%;
    position: relative;
}
.right-part .summary{
    height: 75%;
    overflow-y: scroll;
}
.right-part .discount, .delivery, .right-part #total{
    display: flex;
    justify-content: space-between;
}
.right-part #total{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 95%;
    margin: 0 10px;
    border-top: 1px solid #ccc;
    padding: 10px 0;
}
.right-bottom{
    margin-top: 20px;
}
.right-bottom .ways>div{
    margin: 30px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}.right-bottom .ways input{
    accent-color: #ffcb05;
}
.right-bottom .ways label{
    margin-left: 10px;
}
.right-bottom .cards .imglist{
    display: none;
}
.right-bottom img{
    height: 40px;
    justify-content: center;
}
.right-bottom .recive-pay p{
    display: none;
}
.right-bottom #cards:checked+label+.imglist{
    display: flex;
    justify-content: space-evenly;
}
.right-bottom #COD:checked+label+p{
    display: block;
    font-size: 10px;
}
.right-bottom .ways .pay{
    border: 0;
    margin-top: 0;
    margin-bottom: 10px;
}
.right-bottom .submit-payment{
    background-color: #ffcb05;

}
.right-bottom .submit-payment:hover{
    box-shadow: 0 0 8px;
}
/* #endregion body part end */



footer{
    width: 100%;
    height: 300px;
    background-color: #ffc0cb81;
    overflow: hidden;
    margin-top: 10px;
}
footer .nav{
    justify-content: center;
}
footer p:first-child{
    margin-top: 20px;
}
footer .nav a{
    margin-right: 10px;
    text-decoration: none;
}
footer .icon-list{
    display: flex;
    justify-content: center;
}
footer .icons{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #ffc0cb81;
    margin-right: 10px;
    cursor: pointer;
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.2s linear;
    margin-bottom: 10px;
}
footer .icons:hover{
    box-shadow: 0 0 10px;
}
footer .icons:nth-child(1){
    background-image: url(../img/facebook.svg);
}
footer .icons:nth-child(2){
    background-image: url(../img/instagram.svg);
}
footer .icons:nth-child(3){
    background-image: url(../img/微信.svg);
}
/* #endregion footer end */

main #cartItemsContainer{
    margin-top: 10px;
}
main .cart-item {
    margin-top: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    overflow: auto;
}
main .added{
    border-radius: 8px;
    padding: 5px;
}
main .cart-item .added:hover{
    box-shadow: 0 0 5px;
}

/* payment success */
#payment-success{
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
}
.payment-success{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}
.payment-success>h1{
    margin-top: 40px;
}
.circle{
    stroke-dasharray: 1194;
    stroke-dashoffset: 1194;
    animation: circle 1s ease-in-out forwards;
}
.tick{
    stroke-dasharray: 350;
    stroke-dashoffset: 350;
    animation: tick 1.2s ease-in-out forwards;
}
.payment-text {
    opacity: 0;
    transform: translateY(20px);
    animation: payment-text 0.5s ease-out 1s forwards;
}
.btn-primary{
    background-color: #ffcb05;
    color: black;
    border: 0;
}
/* animations */
@keyframes payment-text {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes circle{
    from{
        stroke-dashoffset: 1194;
    }
    to{
        stroke-dashoffset: 2388;
    }
}
@keyframes tick{
    from{
        stroke-dashoffset: 350;
    }
    to{
        stroke-dashoffset: 0;
    }
}



/* for mobile device */
@media (max-width:768px){
    *{
        margin: 0;
        padding: 0;
    }
    header{
        justify-content: center;
        height: 210px;
    }
    header img{
        margin: 0 auto;
    }
    header .row{
        width: 100%;
        margin: 0;
    }
    header .top-left{
        width: 100%;
        padding: 0;
        text-align: center;
    }
   header .top-right{
    text-align: center;
    width: 100%;
    justify-content: center;
    margin-top: 10px;
   }
   main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   }
   main .left-part{
    width: 100%;
    margin: 10px;
   }
   main .right-part{
    width: 100%;
    margin: 10px;
    height: 1000px;
   }
   main .products-input .payment{
    position: absolute;
    bottom: 20px;
   }
   h2{
    font-size: 26px;
   }
   h4{
    font-size: 16px;
   }
   .right-bottom .ways>div{
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
   }
   .right-bottom label{
    font-size: 18px;
   }
   .right-bottom img{
    height: 40px;
    justify-content: center;
}
    footer p{
    font-size: 12px;
   }
   #payment-success{
    top: 25%;
   }
}